@font-face {
    font-family: 'vazir';
    src: url(../font/Vazir.ttf) format('truetype') url(../font/Vazir.woff) format('woff');
}

body {
    font-family: 'vazir';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#menuBox ul li {
    min-width: 205px;
}

@media (max-width: 768px){
    #menuBox ul li a p {
        font-size: 0.9em !important;
    }

    #navMenu ul div li button {
        font-size: 0.9em !important;
    }
}

@media (max-width: 768px) {
    header {
      position: sticky;
      top: 0;
      z-index: 1020;
    }
  }